
.card-container {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}


.card {
    margin: var(--card-margin);
    margin-left: var(--card-margin);
    margin-right: var(--card-margin);
    border-radius: var(--card-radius);

    position:relative;

    margin-left: auto;
    margin-right: auto;
}

.card-content {
    min-height:100px;
    padding: var(--card-padding);
    width: 100% - var(--card-padding);
}

.card-header {
    min-height: 10px;
    width: 100% - var(--card-padding);

    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    padding: var(--card-padding);
    border-bottom: 2px solid var(--darkest);

}

.card-footer {
    min-height: 10px;
    padding: var(--card-padding);


    border-radius: inherit;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 2px solid var(--darkest);
}

.card-container {
    display: grid;
}

.card-container .card:first-child {
    margin-left: 0px;
    margin-right: auto;
    
}

.card-container .card:last-child {
    margin-right: 0px;
    margin-left: auto;
}

.one-two-one {
    grid-template-columns: 1fr 2fr 1fr;
}
.one-two-one .card{
    width: 99%;
}

.two-one-one {
    grid-template-columns: 2fr 1fr 1fr
}
.two-one-one .card{
    width: 99%;
}

.one-one-two {
    grid-template-columns: 1fr 1fr 2fr;
}
.one-one-two .card{
 width: 99%;
}

.one-one-one {
    grid-template-columns: 1fr 1fr 1fr;
}
.one-one-one .card{
    width: 99%;
}

.two-two {
    grid-template-columns: 2fr 2fr;
}

.two-two .card {
    width: 99%;
}