/* test */
.button {
    border: 2px solid var(--acc3);
    text-decoration: none;
    font-family: var(--font);
    border-radius: var(--radius);
    padding: 4px;
    background-color: var(--acc3);
    color: white;
    text-align: center;
    font-size: 1.2em;
    min-width: 50px;
}

.button:hover {
    background-color: transparent;
    color: var(--acc3);
    transition: 0.2s;
}

.button-ok {
    border: 2px solid var(--acc1);
    background-color: var(--acc1);
}

.button-ok:hover {
    color: var(--acc1);
}

.button-warning {
    border: 2px solid var(--acc2);
    background-color: var(--acc2);
}

.button-warning:hover {
    color: var(--acc2);
}

.button-group {
    display: flex;
    align-items: center;
}

.button-group .button {
    border-radius: 0;
}

.button-group .button:first-child {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);

}

.button-group .button:last-child{
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);

}
.input {
    padding: 5px;
    border-radius: var(--radius);
    background-color: var(--darker);
    border: 2px solid var(--darkest);
    width: 70%;
    margin: 5px;
    color: var(--txt1);
    font-size: 1.2em;
}

.text-area {
    padding: 5px;
    border-radius: var(--radius);
    background-color: var(--darker);
    border: 2px solid var(--darkest);
    margin: 5px;
    color: var(--txt1);
    font: var(--font);
    font-size: 1.2em;
}