:root {
    --acc1: #3BA55D;
    --acc2: #C03537;
    --acc3: #7289DA;

    --dark: #36393F;
    --darker: #2F3136;
    --darkest: #202225;
    --light: white;

    --txt1: white;
    --txt2: #202225;
    --txt3: grey;

    --radius: 3px;

    --card-radius: 10px;
    --card-margin: 5px;
    --card-padding: 10px;

    --font: helvetica, "Arial";

}

