
body {font-family: var(--font)}

.center-text {
    text-align: center;
}

.title {
    font-family: var(--font);
    font-size: 2em;
}

.subtitle {
    font-family: var(--font);
    font-size: 1.2em;
    color: var(--txt3);
}

